<template>
    <div>
        <div class="row pl-4">
            <div class="form-inline w-50 mr-2">
                <div class="input-group w-100">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
                    <input type="text" class="form-control" v-model="search">
                </div>
            </div>

            <div class="form-inline">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sort By</span>
                </div>
                <select class="form-control" v-model="sort">
                    <option value="technician">Technician</option>
                    <option value="key">Key</option>
                    <option value="vehicle">Vehicle</option>
                </select>
            </div>
            <div class="form-inline ml-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Direction</span>
                </div>
                <select class="form-control" v-model="direction">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <div class="form-inline ml-1">
                <a class="btn btn-outline-primary" href="/orders/create">+</a>
            </div>
        </div>
        <div class="row mt-3">
            <div v-if="orders && orders.length > 0" class="col-4" v-for="(order, index) in orders" :key="index" >
                <order-card :order="order"></order-card>
            </div>
            <div class="col-12 mx-auto" v-else>
                <h2 class="mx-auto" >No Orders</h2>
            </div>
        </div>
        <div class="row" v-if="orders && orders.length > 0">
            <pager :current_page="page" :last_page="last_page" @change="changePage"></pager>
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderGrid",
    data() {
        return {
            search: null,
            sort: 'vehicle',
            direction: 'asc',
            page: 1,
            orders: [],
            last_page: 1,
        }
    },
    created() {
      this.getData()
    },
    watch: {
        direction: function() {
            this.getData()
        },
        sort: function () {
            this.getData()
        },
        search: function () {
            this.getData()
        },
    },
    methods: {
        getData() {
            axios.get('/api/orders', {
                params: {
                    search: this.search, sort: this.sort, page: this.page, direction: this.direction
                }
            })
                .then(result => {
                    this.orders = result.data.data
                    this.last_page = result.data.meta?.last_page
                })
                .catch(e => {
                    alert("Error with request")
                    console.error(e)
                })
        },
        changePage(page) {
            this.page = page
            this.getData()
        },
    }
}
</script>

<style scoped>

</style>
