<template>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{order.vehicle.year}} {{order.vehicle.make}} {{order.vehicle.model}}</h5>
            <p class="card-text">Technician: {{ order.technician.first_name }} {{ order.technician.last_name }}</p>
            <p class="card-text">Key: {{order.key.name}}</p>

            <a href="#" class="btn btn-primary" @click.prevent="goToDetail">Details</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderCard",
    props: {
        order: {
            type: Object,
            default: () => ({vehicle: null, technician: null, key: null})
        }
    },
    methods: {
        goToDetail() {
            window.location.href = `/orders/${this.order.id}`
        }
    }

}
</script>

<style scoped>

</style>
