<template>
    <div class="card">
        <h5 class="card-header">{{ order_id ? `Order #${order_id}` : "Create Order" }}</h5>
        <div class="card-body">
            <h5 class="card-title">Vehicle</h5>
            <vehicle-selection-form
                v-model="order.vehicle_id"
                @input="getKeys"
            ></vehicle-selection-form>
        </div>
        <div class="card-body">
            <h5 class="card-title">Technician</h5>
            <select v-model="order.technician_id" class="form-control" @change="setTechnician">
                <option :value="technician.id" v-for="(technician, index) in technicians">
                    {{technician.first_name}} {{technician.last_name}}
                </option>
            </select>
            <ul class="list-group list-group-flush" v-if="order.technician_id">
                <li class="list-group-item">First Name: {{ order.technician.first_name }}</li>
                <li class="list-group-item">Last Name: {{ order.technician.last_name }}</li>
                <li class="list-group-item">Truck #: {{ order.technician.truck_number }}</li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Key</h5>
            <select v-model="order.key_id" class="form-control" @change="setKey">
                <option :value="key.id" v-for="(key, index) in keys">
                    {{key.name}}
                </option>
            </select>
            <ul class="list-group list-group-flush" v-if="order.key_id">
                <li class="list-group-item">Name: {{ order.key.name }}</li>
                <li class="list-group-item">Description: {{ order.key.description }}</li>
                <li class="list-group-item">cost: ${{ order.key.cost }}</li>
            </ul>
        </div>
        <div class="card-body">
            <a href="/orders" class="card-link">Back to List</a>
            <a class="btn btn-outline-primary mx-3" @click.prevent="submitForm">Save</a>
            <a class="card-link text-danger float-right" v-if="order_id" @click.prevent="deleteOrder">Delete</a>
        </div>

        <div aria-live="polite" aria-atomic="true" style="position: fixed; min-height: 200px;" v-if="showToast">
            <div class="toast show bg-success" style="position: absolute; top: 0; right: -400px;">
                <div class="toast-body">
                    {{ toast_message }}
                </div>
            </div>
        </div>

    </div>

</template>

<script>
export default {
    name: "OrderForm",
    props: ['order_id'],
    created() {
        if (this.order_id) {
            this.getData()
        }
        this.getTechnicians()
    },
    data() {
        return {
            order: {vehicle: {}, key: {}, technician: {}},
            technicians: [],
            keys: [],
            showToast: false,
            toast_message: ""
        }
    },
    methods: {
        getData() {
            axios.get(`/api/orders/${this.order_id}`)
                .then(result => {
                    this.order = result.data
                    this.getKeys()
                })
                .catch(e => {
                    alert("Error with request")
                    console.error(e)
                })
        },
        submitForm() {
            const method = this.order_id ? 'put' : 'post'

            const data = {
                technician_id: this.order.technician_id,
                key_id: this.order.key_id,
                vehicle_id: this.order.vehicle_id
            }
            let url = this.order_id ? `/api/orders/${this.order_id}` : '/api/orders/'

            axios({
                method: method,
                url: url,
                data: data
            })
                .then(result => {
                    if (!this.order_id) {
                        window.location.href = `/api/orders/${result.data.id}`
                    }
                    this.showToastMessage("Saved Successfully!")
                })
                .catch(e => {
                    alert("Error with request")
                    console.error(e)
                })
        },
        deleteOrder() {
            axios.delete(`/api/orders/${this.order_id}`)
            .then(result => {
                this.showToastMessage("Recorde Deleted")
                setTimeout(() => {
                    window.location.href = '/orders'
                }, 1000)
            }).catch(e => {
                alert("Error with request")
                console.error(e)
            })
        },
        getTechnicians() {
            axios.get('/api/technicians')
                .then(result => {
                    this.technicians = result.data
                }).catch(e => {
                    alert("Error with request")
                    console.error(e)
                })
        },
        getKeys() {
            axios.get('/api/keys',
                {
                    params: {
                        vehicle_id: this.order.vehicle_id,
                    }
                }
            ).then(result => {
                this.keys = result.data
                if (this.order.key_id && !this.keys.find(key => key.id === this.order.key_id)) {
                    this.order.key_id = null
                }
            }).catch(e => {
                alert("Error with request")
                console.error(e)
            })
        },
        setKey() {
            let key = this.keys.find(k => k.id === this.order.key_id)
            this.order.key = key
        },
        setTechnician() {
            let technician = this.technicians.find(tech => tech.id === this.order.technician_id)
            this.order.technician = technician
        },
        showToastMessage(message) {
            this.toast_message = message
            this.showToast = true
            setTimeout(() => {
                this.showToast = false
                this.toast_message = ""
            }, 500)
        }

    }
}
</script>

<style scoped>

</style>
