<template>
    <div class="card">
        <h5 class="card-header">Order #{{order.id}}</h5>
        <div class="card-body">
            <h5 class="card-title">Vehicle</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year: {{order.vehicle.year}}</li>
                <li class="list-group-item">Make: {{order.vehicle.make}}</li>
                <li class="list-group-item">Model: {{order.vehicle.model}}</li>
                <li class="list-group-item">VIN: {{order.vehicle.vin}}</li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Technician</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name: {{order.technician.first_name}}</li>
                <li class="list-group-item">Last Name: {{order.technician.last_name}}</li>
                <li class="list-group-item">Truck #: {{order.technician.truck_number}}</li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Key</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: {{order.key.name}}</li>
                <li class="list-group-item">Description: {{order.key.description}}</li>
                <li class="list-group-item">cost: ${{order.key.cost.toFixed(2)}}</li>
            </ul>
        </div>
        <div class="card-body">
            <a href="/orders" class="card-link">Back</a>
            <a :href="`/orders/${order_id}/edit`" class="card-link">Edit</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderShow",
    props: ['order_id'],
    created() {
        if (this.order_id) {
            this.getData()
        }
    },
    data() {
        return {
            order: {vehicle: {}, key: {}, technician: {}},
        }
    },
    methods: {
        getData() {
            axios.get(`/api/orders/${this.order_id}`)
                .then(result => {
                    this.order = result.data
                })
                .catch(e => {
                    alert("Error with request")
                    console.error(e)
                })
        },

    }
}
</script>

<style scoped>

</style>
