<template>
    <nav class="mx-auto mt-5">
        <ul class="pagination">
            <li class="page-item" v-if="current_page > 1">
                <a class="page-link" href="#" @click.prevent="updatePage(current_page - 1)">Previous</a>
            </li>

            <li class="page-item" v-for="index in last_page" :class="current_page === index? 'active': ''">
                <a class="page-link" @click.prevent="updatePage(index)" >{{index}}</a>
            </li>

            <li class="page-item" v-if="current_page < last_page">
                <a class="page-link" href="#" @click.prevent="updatePage(current_page + 1)">Next</a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "Pager",
    props: {
        current_page: {
            type: Number,
            default: 1
        },
        last_page: {
            type: Number,
            default: 1
        },

    },
    methods: {
        updatePage(number) {
            if(number !== this.current_page) {
                this.$emit('change', number)
            }
        }
    }
}
</script>

<style scoped>

</style>
