<template>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex">
                <label class="label mr-5 w-10">Year:</label>
                <select class="form-control"
                        v-model="vehicle.year"
                        :disabled="enabled_field !== 'year'"
                        @change="handleChange('year')"
                >
                    <option value="" v-for="(year, i) in years" :value="year">{{ year }}</option>
                </select>
            </li>
            <li class="list-group-item d-flex">
                <label class="label mr-5 w-10">Make:</label>
                <select class="form-control"
                        v-model="vehicle.make"
                        :disabled="enabled_field !== 'make'"
                        @change="handleChange('make')">
                    <option value="" v-for="(make, i) in makes" :value="make">{{ make }}</option>
                </select>
            </li>
            <li class="list-group-item d-flex">
                <label class="label mr-5 w-10">Model:</label>
                <select class="form-control"
                        :disabled="enabled_field !== 'model'"
                        v-model="vehicle.model"
                        @change="handleChange('model')">
                    <option value="" v-for="(model, i) in models" :value="model">{{ model }}</option>
                </select>
            </li>
            <li class="list-group-item d-flex">
                <label class="label mr-5 w-10">VIN:</label>
                <select class="form-control" v-model="vehicle.vin"
                        :disabled="enabled_field !== 'vin'"
                        @change="handleChange('vin')"
                >
                    <option value="" v-for="(vin, i) in vins" :value="vin">{{ vin }}</option>
                </select>
            </li>
            <li class="list-group-item d-flex">
                <button class="btn btn-outline-primary" @click="reset">Reset</button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "VehicleSelectionForm",
    props: ['value'],
    data() {
        return {
            vehicle: {},
            years: [],
            makes: [],
            models: [],
            vins: [],
            enabled_field: 'year',
            fields: ['year', 'make', 'model', 'vin']
        }
    },
    mounted() {
        if (this.value) {
            this.getVehicleById()
        } else {
            this.getColumn('year')
        }
    },
    watch: {
        value: function (v) {
            if (v && v !== this.vehicle.id) {
                this.getVehicleById()
            }
        }
    },
    methods: {
        reset() {
            this.vehicle = {}
            this.enabled_field = this.fields[0]
            this.years = []
            this.makes = []
            this.models = []
            this.vins = []
            this.getColumn(this.enabled_field)

        },
        handleChange(field) {
            if (field === 'vin') {
                this.enabled_field = null
                this.getVehicleByParams()
                return
            }
            let start = this.fields.indexOf(field)

            // reset dependent selects
            for (let x = start + 1; x < this.fields.length; x++) {
                this[this.fields[x] + 's'] = []
            }

            // disable other
            this.enabled_field = this.fields[start + 1]

            this.getColumn(this.fields[start + 1])
        },
        getVehicleByParams() {
            axios.get('/api/vehicles',
                {
                    params: {
                        make: this.vehicle.make,
                        year: this.vehicle.year,
                        model: this.vehicle.model,
                        vin: this.vehicle.vin
                    }
                }
            ).then(result => {
                console.log(result.data)
                if(result.data.length === 1) {
                    this.vehicle = result.data[0]
                    this.$emit('input', this.vehicle.id)
                }

            }).catch(e => {
                alert("Error with request")
                console.error(e)
            })
        },
        getColumn(column_name) {
            axios.get('/api/vehicles',
                {
                    params: {
                        get_column: column_name,
                        make: this.vehicle.make,
                        year: this.vehicle.year,
                        model: this.vehicle.model,
                    }
                }
            ).then(result => {
                console.log(result.data)
                this[column_name + 's'] = result.data
            }).catch(e => {
                alert("Error with request")
                console.error(e)
            })
        },

        getVehicleById() {
            axios.get('/api/vehicles/' + this.value)
                .then(result => {
                    this.vehicle = result.data
                    this.years = [this.vehicle.year]
                    this.makes = [this.vehicle.make]
                    this.models = [this.vehicle.model]
                    this.vins = [this.vehicle.vin]
                    this.enabled_field = null
                }).catch(e => {
                alert("Error with request")
                console.error(e)
            })

        }
    }
}
</script>

<style scoped>
.w-10 {
    width: 10%;
}
</style>
